# **Dataset 1 - Data Cleaning using Pandas**

In [697]:
import numpy as np
import pandas as pd

In [698]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [699]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [700]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [701]:
mean_age = data['Age'].mean()
data['Age'].fillna(mean_age, inplace=True)
data['Rating'].replace(-1, 0, inplace=True)
data['Rating'].replace('', 0, inplace=True)

In [702]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply
0,0,44.000000,$44k-$99k,5.4,"India,In",1999,TRUE
1,1,66.000000,$55k-$66k,3.5,"New York,Ny",2002,TRUE
2,2,39.045455,$77k-$89k,0.0,"New York,Ny",-1,-1
3,3,64.000000,$44k-$99k,4.4,India In,1988,-1
4,4,25.000000,$44k-$99k,6.4,Australia Aus,2002,-1
5,5,44.000000,$77k-$89k,1.4,"India,In",1999,TRUE
6,6,21.000000,$44k-$99k,0.0,"New York,Ny",-1,-1
7,7,44.000000,$44k-$99k,0.0,Australia Aus,-1,-1
8,8,35.000000,$44k-$99k,5.4,"New York,Ny",-1,-1
9,9,22.000000,$44k-$99k,7.7,"India,In",-1,TRUE
10,10,55.000000,$10k-$49k,5.4,"India,In",2008,TRUE
11,11,44.000000,$10k-$49k,6.7,"India,In",2009,-1
12,12,39.045455,$44k-$99k,0.0,"India,In",1999,-1
13,13,25.000000,$44k-$99k,0.0,Australia Aus,2019,TRUE
14,14,66.000000,$44k-$99k,4.0,Australia Aus,2020,TRUE
15,15,44.000000,$88k-$101k,3.0,Australia Aus,1999,-1
16,16,19.000000,$19k-$40k,4.5,"India,In",1984,-1
17,17,39.045455,$44k-$99k,5.3,"New York,Ny",1943,TRUE
18,18,35.000000,$44k-$99k,6.7,"New York,Ny",1954,TRUE
19,19,32.000000,$44k-$99k,3.3,"New York,Ny",1955,TRUE
20,20,39.045455,$44k-$99k,5.7,"New York,Ny",1944,TRUE
21,21,35.000000,$44k-$99k,5.0,"New York,Ny",1946,-1
22,22,19.000000,$55k-$66k,7.8,"New York,Ny",1988,TRUE
23,23,39.045455,$44k-$99k,2.4,"New York,Ny",1999,TRUE
24,24,13.000000,$44k-$99k,0.0,"New York,Ny",1987,-1
25,25,55.000000,$44k-$99k,0.0,Australia Aus,1980,TRUE
26,26,39.045455,$55k-$66k,NaN,"India,In",1934,TRUE
27,27,52.000000,$44k-$99k,5.4,"India,In",1935,-1
28,28,39.045455,$39k-$88k,3.4,Australia Aus,1932,-1

In [703]:
data['Salary'] = data['Salary'].str.replace('$', '').str.replace('k', "000")
data['Established'] = pd.to_datetime(data['Established'], errors='coerce')
data['Easy Apply'] = data['Easy Apply'].replace('-1', False)

<ipython-input-703-ebc7a08f6bb7>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Salary'] = data['Salary'].str.replace('$', '').str.replace('k', "000")

In [704]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply
0,0,44.000000,44000-99000,5.4,"India,In",1970-01-01 00:00:00.000001999,TRUE
1,1,66.000000,55000-66000,3.5,"New York,Ny",1970-01-01 00:00:00.000002002,TRUE
2,2,39.045455,77000-89000,0.0,"New York,Ny",1969-12-31 23:59:59.999999999,False
3,3,64.000000,44000-99000,4.4,India In,1970-01-01 00:00:00.000001988,False
4,4,25.000000,44000-99000,6.4,Australia Aus,1970-01-01 00:00:00.000002002,False
5,5,44.000000,77000-89000,1.4,"India,In",1970-01-01 00:00:00.000001999,TRUE
6,6,21.000000,44000-99000,0.0,"New York,Ny",1969-12-31 23:59:59.999999999,False
7,7,44.000000,44000-99000,0.0,Australia Aus,1969-12-31 23:59:59.999999999,False
8,8,35.000000,44000-99000,5.4,"New York,Ny",1969-12-31 23:59:59.999999999,False
9,9,22.000000,44000-99000,7.7,"India,In",1969-12-31 23:59:59.999999999,TRUE
10,10,55.000000,10000-49000,5.4,"India,In",1970-01-01 00:00:00.000002008,TRUE
11,11,44.000000,10000-49000,6.7,"India,In",1970-01-01 00:00:00.000002009,False
12,12,39.045455,44000-99000,0.0,"India,In",1970-01-01 00:00:00.000001999,False
13,13,25.000000,44000-99000,0.0,Australia Aus,1970-01-01 00:00:00.000002019,TRUE
14,14,66.000000,44000-99000,4.0,Australia Aus,1970-01-01 00:00:00.000002020,TRUE
15,15,44.000000,88000-101000,3.0,Australia Aus,1970-01-01 00:00:00.000001999,False
16,16,19.000000,19000-40000,4.5,"India,In",1970-01-01 00:00:00.000001984,False
17,17,39.045455,44000-99000,5.3,"New York,Ny",1970-01-01 00:00:00.000001943,TRUE
18,18,35.000000,44000-99000,6.7,"New York,Ny",1970-01-01 00:00:00.000001954,TRUE
19,19,32.000000,44000-99000,3.3,"New York,Ny",1970-01-01 00:00:00.000001955,TRUE
20,20,39.045455,44000-99000,5.7,"New York,Ny",1970-01-01 00:00:00.000001944,TRUE
21,21,35.000000,44000-99000,5.0,"New York,Ny",1970-01-01 00:00:00.000001946,False
22,22,19.000000,55000-66000,7.8,"New York,Ny",1970-01-01 00:00:00.000001988,TRUE
23,23,39.045455,44000-99000,2.4,"New York,Ny",1970-01-01 00:00:00.000001999,TRUE
24,24,13.000000,44000-99000,0.0,"New York,Ny",1970-01-01 00:00:00.000001987,False
25,25,55.000000,44000-99000,0.0,Australia Aus,1970-01-01 00:00:00.000001980,TRUE
26,26,39.045455,55000-66000,NaN,"India,In",1970-01-01 00:00:00.000001934,TRUE
27,27,52.000000,44000-99000,5.4,"India,In",1970-01-01 00:00:00.000001935,False
28,28,39.045455,39000-88000,3.4,Australia Aus,1970-01-01 00:00:00.000001932,False

In [705]:
Q1 = data[['Age', 'Salary', 'Rating','Location','Established','Easy Apply']].quantile(0.75)
Q3 = data[['Age', 'Salary', 'Rating','Location','Established','Easy Apply']].quantile(0.25)
A = Q3 - Q1

threshold = 1

outliers = ((data[['Age', 'Salary', 'Rating']] < (Q1 - threshold * A)) | (data[['Age', 'Salary', 'Rating']] > (Q3 + threshold * A))).any(axis=1)

<ipython-input-705-546fa7a5a02d>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = data[['Age', 'Salary', 'Rating','Location','Established','Easy Apply']].quantile(0.75)
<ipython-input-705-546fa7a5a02d>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = data[['Age', 'Salary', 'Rating','Location','Established','Easy Apply']].quantile(0.25)
<ipython-input-705-546fa7a5a02d>:7: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = ((data[['Age', 'Salary', 'Rating']] < (Q1 - threshold * A)) | (data[['Age', 'Salary', 'Rating']] > (Q3 + threshold * A))).any(axis=1)
<ipython-input-705-546fa7a5a02d>:7: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = ((data[['Age', 'Salary', 'Rating']] < (Q1 - threshold * A)) | (data[['Age', 'Salary', 'Rating']] > (Q3 + threshold * A))).any(axis=1)

In [706]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply
0,0,44.000000,44000-99000,5.4,"India,In",1970-01-01 00:00:00.000001999,TRUE
1,1,66.000000,55000-66000,3.5,"New York,Ny",1970-01-01 00:00:00.000002002,TRUE
2,2,39.045455,77000-89000,0.0,"New York,Ny",1969-12-31 23:59:59.999999999,False
3,3,64.000000,44000-99000,4.4,India In,1970-01-01 00:00:00.000001988,False
4,4,25.000000,44000-99000,6.4,Australia Aus,1970-01-01 00:00:00.000002002,False
5,5,44.000000,77000-89000,1.4,"India,In",1970-01-01 00:00:00.000001999,TRUE
6,6,21.000000,44000-99000,0.0,"New York,Ny",1969-12-31 23:59:59.999999999,False
7,7,44.000000,44000-99000,0.0,Australia Aus,1969-12-31 23:59:59.999999999,False
8,8,35.000000,44000-99000,5.4,"New York,Ny",1969-12-31 23:59:59.999999999,False
9,9,22.000000,44000-99000,7.7,"India,In",1969-12-31 23:59:59.999999999,TRUE
10,10,55.000000,10000-49000,5.4,"India,In",1970-01-01 00:00:00.000002008,TRUE
11,11,44.000000,10000-49000,6.7,"India,In",1970-01-01 00:00:00.000002009,False
12,12,39.045455,44000-99000,0.0,"India,In",1970-01-01 00:00:00.000001999,False
13,13,25.000000,44000-99000,0.0,Australia Aus,1970-01-01 00:00:00.000002019,TRUE
14,14,66.000000,44000-99000,4.0,Australia Aus,1970-01-01 00:00:00.000002020,TRUE
15,15,44.000000,88000-101000,3.0,Australia Aus,1970-01-01 00:00:00.000001999,False
16,16,19.000000,19000-40000,4.5,"India,In",1970-01-01 00:00:00.000001984,False
17,17,39.045455,44000-99000,5.3,"New York,Ny",1970-01-01 00:00:00.000001943,TRUE
18,18,35.000000,44000-99000,6.7,"New York,Ny",1970-01-01 00:00:00.000001954,TRUE
19,19,32.000000,44000-99000,3.3,"New York,Ny",1970-01-01 00:00:00.000001955,TRUE
20,20,39.045455,44000-99000,5.7,"New York,Ny",1970-01-01 00:00:00.000001944,TRUE
21,21,35.000000,44000-99000,5.0,"New York,Ny",1970-01-01 00:00:00.000001946,False
22,22,19.000000,55000-66000,7.8,"New York,Ny",1970-01-01 00:00:00.000001988,TRUE
23,23,39.045455,44000-99000,2.4,"New York,Ny",1970-01-01 00:00:00.000001999,TRUE
24,24,13.000000,44000-99000,0.0,"New York,Ny",1970-01-01 00:00:00.000001987,False
25,25,55.000000,44000-99000,0.0,Australia Aus,1970-01-01 00:00:00.000001980,TRUE
26,26,39.045455,55000-66000,NaN,"India,In",1970-01-01 00:00:00.000001934,TRUE
27,27,52.000000,44000-99000,5.4,"India,In",1970-01-01 00:00:00.000001935,False
28,28,39.045455,39000-88000,3.4,Australia Aus,1970-01-01 00:00:00.000001932,False

In [709]:
# Assuming df is the DataFrame containing your data
data['Salary_Avg'] = data['Salary'].apply(lambda x: np.mean([int(s) for s in x.split('-')]))

In [710]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg
0,0,44.000000,44000-99000,5.4,"India,In",1970-01-01 00:00:00.000001999,TRUE,71500.0
1,1,66.000000,55000-66000,3.5,"New York,Ny",1970-01-01 00:00:00.000002002,TRUE,60500.0
2,2,39.045455,77000-89000,0.0,"New York,Ny",1969-12-31 23:59:59.999999999,False,83000.0
3,3,64.000000,44000-99000,4.4,India In,1970-01-01 00:00:00.000001988,False,71500.0
4,4,25.000000,44000-99000,6.4,Australia Aus,1970-01-01 00:00:00.000002002,False,71500.0
5,5,44.000000,77000-89000,1.4,"India,In",1970-01-01 00:00:00.000001999,TRUE,83000.0
6,6,21.000000,44000-99000,0.0,"New York,Ny",1969-12-31 23:59:59.999999999,False,71500.0
7,7,44.000000,44000-99000,0.0,Australia Aus,1969-12-31 23:59:59.999999999,False,71500.0
8,8,35.000000,44000-99000,5.4,"New York,Ny",1969-12-31 23:59:59.999999999,False,71500.0
9,9,22.000000,44000-99000,7.7,"India,In",1969-12-31 23:59:59.999999999,TRUE,71500.0
10,10,55.000000,10000-49000,5.4,"India,In",1970-01-01 00:00:00.000002008,TRUE,29500.0
11,11,44.000000,10000-49000,6.7,"India,In",1970-01-01 00:00:00.000002009,False,29500.0
12,12,39.045455,44000-99000,0.0,"India,In",1970-01-01 00:00:00.000001999,False,71500.0
13,13,25.000000,44000-99000,0.0,Australia Aus,1970-01-01 00:00:00.000002019,TRUE,71500.0
14,14,66.000000,44000-99000,4.0,Australia Aus,1970-01-01 00:00:00.000002020,TRUE,71500.0
15,15,44.000000,88000-101000,3.0,Australia Aus,1970-01-01 00:00:00.000001999,False,94500.0
16,16,19.000000,19000-40000,4.5,"India,In",1970-01-01 00:00:00.000001984,False,29500.0
17,17,39.045455,44000-99000,5.3,"New York,Ny",1970-01-01 00:00:00.000001943,TRUE,71500.0
18,18,35.000000,44000-99000,6.7,"New York,Ny",1970-01-01 00:00:00.000001954,TRUE,71500.0
19,19,32.000000,44000-99000,3.3,"New York,Ny",1970-01-01 00:00:00.000001955,TRUE,71500.0
20,20,39.045455,44000-99000,5.7,"New York,Ny",1970-01-01 00:00:00.000001944,TRUE,71500.0
21,21,35.000000,44000-99000,5.0,"New York,Ny",1970-01-01 00:00:00.000001946,False,71500.0
22,22,19.000000,55000-66000,7.8,"New York,Ny",1970-01-01 00:00:00.000001988,TRUE,60500.0
23,23,39.045455,44000-99000,2.4,"New York,Ny",1970-01-01 00:00:00.000001999,TRUE,71500.0
24,24,13.000000,44000-99000,0.0,"New York,Ny",1970-01-01 00:00:00.000001987,False,71500.0
25,25,55.000000,44000-99000,0.0,Australia Aus,1970-01-01 00:00:00.000001980,TRUE,71500.0
26,26,39.045455,55000-66000,NaN,"India,In",1970-01-01 00:00:00.000001934,TRUE,60500.0
27,27,52.000000,44000-99000,5.4,"India,In",1970-01-01 00:00:00.000001935,False,71500.0
28,28,39.045455,39000-88000,3.4,Australia Aus,1970-01-01 00:00:00.000001932,False,63500.0

In [711]:
data['Location'] = data['Location'].str.replace(',', ', ')
data['Location'] = data['Location'].str.replace(', In', '', regex=True).str.replace(', Ny', '', regex=True).str.replace(', Aus', '', regex=True)
data['Location'] = data['Location'].str.replace(' In', '', regex=True).str.replace(' Aus', '', regex=True)

In [712]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg
0,0,44.000000,44000-99000,5.4,India,1970-01-01 00:00:00.000001999,TRUE,71500.0
1,1,66.000000,55000-66000,3.5,New York,1970-01-01 00:00:00.000002002,TRUE,60500.0
2,2,39.045455,77000-89000,0.0,New York,1969-12-31 23:59:59.999999999,False,83000.0
3,3,64.000000,44000-99000,4.4,India,1970-01-01 00:00:00.000001988,False,71500.0
4,4,25.000000,44000-99000,6.4,Australia,1970-01-01 00:00:00.000002002,False,71500.0
5,5,44.000000,77000-89000,1.4,India,1970-01-01 00:00:00.000001999,TRUE,83000.0
6,6,21.000000,44000-99000,0.0,New York,1969-12-31 23:59:59.999999999,False,71500.0
7,7,44.000000,44000-99000,0.0,Australia,1969-12-31 23:59:59.999999999,False,71500.0
8,8,35.000000,44000-99000,5.4,New York,1969-12-31 23:59:59.999999999,False,71500.0
9,9,22.000000,44000-99000,7.7,India,1969-12-31 23:59:59.999999999,TRUE,71500.0
10,10,55.000000,10000-49000,5.4,India,1970-01-01 00:00:00.000002008,TRUE,29500.0
11,11,44.000000,10000-49000,6.7,India,1970-01-01 00:00:00.000002009,False,29500.0
12,12,39.045455,44000-99000,0.0,India,1970-01-01 00:00:00.000001999,False,71500.0
13,13,25.000000,44000-99000,0.0,Australia,1970-01-01 00:00:00.000002019,TRUE,71500.0
14,14,66.000000,44000-99000,4.0,Australia,1970-01-01 00:00:00.000002020,TRUE,71500.0
15,15,44.000000,88000-101000,3.0,Australia,1970-01-01 00:00:00.000001999,False,94500.0
16,16,19.000000,19000-40000,4.5,India,1970-01-01 00:00:00.000001984,False,29500.0
17,17,39.045455,44000-99000,5.3,New York,1970-01-01 00:00:00.000001943,TRUE,71500.0
18,18,35.000000,44000-99000,6.7,New York,1970-01-01 00:00:00.000001954,TRUE,71500.0
19,19,32.000000,44000-99000,3.3,New York,1970-01-01 00:00:00.000001955,TRUE,71500.0
20,20,39.045455,44000-99000,5.7,New York,1970-01-01 00:00:00.000001944,TRUE,71500.0
21,21,35.000000,44000-99000,5.0,New York,1970-01-01 00:00:00.000001946,False,71500.0
22,22,19.000000,55000-66000,7.8,New York,1970-01-01 00:00:00.000001988,TRUE,60500.0
23,23,39.045455,44000-99000,2.4,New York,1970-01-01 00:00:00.000001999,TRUE,71500.0
24,24,13.000000,44000-99000,0.0,New York,1970-01-01 00:00:00.000001987,False,71500.0
25,25,55.000000,44000-99000,0.0,Australia,1970-01-01 00:00:00.000001980,TRUE,71500.0
26,26,39.045455,55000-66000,NaN,India,1970-01-01 00:00:00.000001934,TRUE,60500.0
27,27,52.000000,44000-99000,5.4,India,1970-01-01 00:00:00.000001935,False,71500.0
28,28,39.045455,39000-88000,3.4,Australia,1970-01-01 00:00:00.000001932,False,63500.0

In [713]:
data['Established'] = pd.to_datetime(data['Established'])

data['Established'] = data['Established'].dt.strftime('%Y-%m-%d')

In [714]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg
0,0,44.000000,44000-99000,5.4,India,1970-01-01,TRUE,71500.0
1,1,66.000000,55000-66000,3.5,New York,1970-01-01,TRUE,60500.0
2,2,39.045455,77000-89000,0.0,New York,1969-12-31,False,83000.0
3,3,64.000000,44000-99000,4.4,India,1970-01-01,False,71500.0
4,4,25.000000,44000-99000,6.4,Australia,1970-01-01,False,71500.0
5,5,44.000000,77000-89000,1.4,India,1970-01-01,TRUE,83000.0
6,6,21.000000,44000-99000,0.0,New York,1969-12-31,False,71500.0
7,7,44.000000,44000-99000,0.0,Australia,1969-12-31,False,71500.0
8,8,35.000000,44000-99000,5.4,New York,1969-12-31,False,71500.0
9,9,22.000000,44000-99000,7.7,India,1969-12-31,TRUE,71500.0
10,10,55.000000,10000-49000,5.4,India,1970-01-01,TRUE,29500.0
11,11,44.000000,10000-49000,6.7,India,1970-01-01,False,29500.0
12,12,39.045455,44000-99000,0.0,India,1970-01-01,False,71500.0
13,13,25.000000,44000-99000,0.0,Australia,1970-01-01,TRUE,71500.0
14,14,66.000000,44000-99000,4.0,Australia,1970-01-01,TRUE,71500.0
15,15,44.000000,88000-101000,3.0,Australia,1970-01-01,False,94500.0
16,16,19.000000,19000-40000,4.5,India,1970-01-01,False,29500.0
17,17,39.045455,44000-99000,5.3,New York,1970-01-01,TRUE,71500.0
18,18,35.000000,44000-99000,6.7,New York,1970-01-01,TRUE,71500.0
19,19,32.000000,44000-99000,3.3,New York,1970-01-01,TRUE,71500.0
20,20,39.045455,44000-99000,5.7,New York,1970-01-01,TRUE,71500.0
21,21,35.000000,44000-99000,5.0,New York,1970-01-01,False,71500.0
22,22,19.000000,55000-66000,7.8,New York,1970-01-01,TRUE,60500.0
23,23,39.045455,44000-99000,2.4,New York,1970-01-01,TRUE,71500.0
24,24,13.000000,44000-99000,0.0,New York,1970-01-01,False,71500.0
25,25,55.000000,44000-99000,0.0,Australia,1970-01-01,TRUE,71500.0
26,26,39.045455,55000-66000,NaN,India,1970-01-01,TRUE,60500.0
27,27,52.000000,44000-99000,5.4,India,1970-01-01,False,71500.0
28,28,39.045455,39000-88000,3.4,Australia,1970-01-01,False,63500.0

In [715]:
data['Easy Apply'] = data['Easy Apply'].replace({'TRUE': True})

In [716]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg
0,0,44.000000,44000-99000,5.4,India,1970-01-01,True,71500.0
1,1,66.000000,55000-66000,3.5,New York,1970-01-01,True,60500.0
2,2,39.045455,77000-89000,0.0,New York,1969-12-31,False,83000.0
3,3,64.000000,44000-99000,4.4,India,1970-01-01,False,71500.0
4,4,25.000000,44000-99000,6.4,Australia,1970-01-01,False,71500.0
5,5,44.000000,77000-89000,1.4,India,1970-01-01,True,83000.0
6,6,21.000000,44000-99000,0.0,New York,1969-12-31,False,71500.0
7,7,44.000000,44000-99000,0.0,Australia,1969-12-31,False,71500.0
8,8,35.000000,44000-99000,5.4,New York,1969-12-31,False,71500.0
9,9,22.000000,44000-99000,7.7,India,1969-12-31,True,71500.0
10,10,55.000000,10000-49000,5.4,India,1970-01-01,True,29500.0
11,11,44.000000,10000-49000,6.7,India,1970-01-01,False,29500.0
12,12,39.045455,44000-99000,0.0,India,1970-01-01,False,71500.0
13,13,25.000000,44000-99000,0.0,Australia,1970-01-01,True,71500.0
14,14,66.000000,44000-99000,4.0,Australia,1970-01-01,True,71500.0
15,15,44.000000,88000-101000,3.0,Australia,1970-01-01,False,94500.0
16,16,19.000000,19000-40000,4.5,India,1970-01-01,False,29500.0
17,17,39.045455,44000-99000,5.3,New York,1970-01-01,True,71500.0
18,18,35.000000,44000-99000,6.7,New York,1970-01-01,True,71500.0
19,19,32.000000,44000-99000,3.3,New York,1970-01-01,True,71500.0
20,20,39.045455,44000-99000,5.7,New York,1970-01-01,True,71500.0
21,21,35.000000,44000-99000,5.0,New York,1970-01-01,False,71500.0
22,22,19.000000,55000-66000,7.8,New York,1970-01-01,True,60500.0
23,23,39.045455,44000-99000,2.4,New York,1970-01-01,True,71500.0
24,24,13.000000,44000-99000,0.0,New York,1970-01-01,False,71500.0
25,25,55.000000,44000-99000,0.0,Australia,1970-01-01,True,71500.0
26,26,39.045455,55000-66000,NaN,India,1970-01-01,True,60500.0
27,27,52.000000,44000-99000,5.4,India,1970-01-01,False,71500.0
28,28,39.045455,39000-88000,3.4,Australia,1970-01-01,False,63500.0

In [717]:
print("Unique Ratings:", data['Rating'].unique())

rating_stats = data['Rating'].describe()
print("\nSummary Statistics for Rating:\n", rating_stats)
data['Rating'].fillna(0, inplace=True)

Unique Ratings: [5.4 3.5 0.  4.4 6.4 1.4 7.7 6.7 4.  3.  4.5 5.3 3.3 5.7 5.  7.8 2.4 nan
 3.4]

Summary Statistics for Rating:
 count    28.000000
mean      3.671429
std       2.601261
min       0.000000
25%       1.050000
50%       4.200000
75%       5.400000
max       7.800000
Name: Rating, dtype: float64

In [718]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg
0,0,44.000000,44000-99000,5.4,India,1970-01-01,True,71500.0
1,1,66.000000,55000-66000,3.5,New York,1970-01-01,True,60500.0
2,2,39.045455,77000-89000,0.0,New York,1969-12-31,False,83000.0
3,3,64.000000,44000-99000,4.4,India,1970-01-01,False,71500.0
4,4,25.000000,44000-99000,6.4,Australia,1970-01-01,False,71500.0
5,5,44.000000,77000-89000,1.4,India,1970-01-01,True,83000.0
6,6,21.000000,44000-99000,0.0,New York,1969-12-31,False,71500.0
7,7,44.000000,44000-99000,0.0,Australia,1969-12-31,False,71500.0
8,8,35.000000,44000-99000,5.4,New York,1969-12-31,False,71500.0
9,9,22.000000,44000-99000,7.7,India,1969-12-31,True,71500.0
10,10,55.000000,10000-49000,5.4,India,1970-01-01,True,29500.0
11,11,44.000000,10000-49000,6.7,India,1970-01-01,False,29500.0
12,12,39.045455,44000-99000,0.0,India,1970-01-01,False,71500.0
13,13,25.000000,44000-99000,0.0,Australia,1970-01-01,True,71500.0
14,14,66.000000,44000-99000,4.0,Australia,1970-01-01,True,71500.0
15,15,44.000000,88000-101000,3.0,Australia,1970-01-01,False,94500.0
16,16,19.000000,19000-40000,4.5,India,1970-01-01,False,29500.0
17,17,39.045455,44000-99000,5.3,New York,1970-01-01,True,71500.0
18,18,35.000000,44000-99000,6.7,New York,1970-01-01,True,71500.0
19,19,32.000000,44000-99000,3.3,New York,1970-01-01,True,71500.0
20,20,39.045455,44000-99000,5.7,New York,1970-01-01,True,71500.0
21,21,35.000000,44000-99000,5.0,New York,1970-01-01,False,71500.0
22,22,19.000000,55000-66000,7.8,New York,1970-01-01,True,60500.0
23,23,39.045455,44000-99000,2.4,New York,1970-01-01,True,71500.0
24,24,13.000000,44000-99000,0.0,New York,1970-01-01,False,71500.0
25,25,55.000000,44000-99000,0.0,Australia,1970-01-01,True,71500.0
26,26,39.045455,55000-66000,0.0,India,1970-01-01,True,60500.0
27,27,52.000000,44000-99000,5.4,India,1970-01-01,False,71500.0
28,28,39.045455,39000-88000,3.4,Australia,1970-01-01,False,63500.0

In [719]:
data['Location'] = data['Location'].str.replace('[^a-zA-Z0-9\s]', '')

<ipython-input-719-490bc66e5ed3>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'] = data['Location'].str.replace('[^a-zA-Z0-9\s]', '')

In [720]:
data['Age'] = data['Age'].round()

In [721]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg
0,0,44.0,44000-99000,5.4,India,1970-01-01,True,71500.0
1,1,66.0,55000-66000,3.5,New York,1970-01-01,True,60500.0
2,2,39.0,77000-89000,0.0,New York,1969-12-31,False,83000.0
3,3,64.0,44000-99000,4.4,India,1970-01-01,False,71500.0
4,4,25.0,44000-99000,6.4,Australia,1970-01-01,False,71500.0
5,5,44.0,77000-89000,1.4,India,1970-01-01,True,83000.0
6,6,21.0,44000-99000,0.0,New York,1969-12-31,False,71500.0
7,7,44.0,44000-99000,0.0,Australia,1969-12-31,False,71500.0
8,8,35.0,44000-99000,5.4,New York,1969-12-31,False,71500.0
9,9,22.0,44000-99000,7.7,India,1969-12-31,True,71500.0
10,10,55.0,10000-49000,5.4,India,1970-01-01,True,29500.0
11,11,44.0,10000-49000,6.7,India,1970-01-01,False,29500.0
12,12,39.0,44000-99000,0.0,India,1970-01-01,False,71500.0
13,13,25.0,44000-99000,0.0,Australia,1970-01-01,True,71500.0
14,14,66.0,44000-99000,4.0,Australia,1970-01-01,True,71500.0
15,15,44.0,88000-101000,3.0,Australia,1970-01-01,False,94500.0
16,16,19.0,19000-40000,4.5,India,1970-01-01,False,29500.0
17,17,39.0,44000-99000,5.3,New York,1970-01-01,True,71500.0
18,18,35.0,44000-99000,6.7,New York,1970-01-01,True,71500.0
19,19,32.0,44000-99000,3.3,New York,1970-01-01,True,71500.0
20,20,39.0,44000-99000,5.7,New York,1970-01-01,True,71500.0
21,21,35.0,44000-99000,5.0,New York,1970-01-01,False,71500.0
22,22,19.0,55000-66000,7.8,New York,1970-01-01,True,60500.0
23,23,39.0,44000-99000,2.4,New York,1970-01-01,True,71500.0
24,24,13.0,44000-99000,0.0,New York,1970-01-01,False,71500.0
25,25,55.0,44000-99000,0.0,Australia,1970-01-01,True,71500.0
26,26,39.0,55000-66000,0.0,India,1970-01-01,True,60500.0
27,27,52.0,44000-99000,5.4,India,1970-01-01,False,71500.0
28,28,39.0,39000-88000,3.4,Australia,1970-01-01,False,63500.0

In [722]:
duplicates = data[data.duplicated()]
unique_locations = data['Location'].unique()
unique_easy_apply = data['Easy Apply'].unique()
descriptive_stats = data.describe()
data['Established'] = pd.to_datetime(data['Established'], errors='coerce')
inconsistent_entries = data[data['Location'] == 'New York'][data['Established'] != '1969-12-31']
unique_easy_apply = data['Easy Apply'].unique()

<ipython-input-722-e331a6fcfcf7>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  inconsistent_entries = data[data['Location'] == 'New York'][data['Established'] != '1969-12-31']

In [723]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg
0,0,44.0,44000-99000,5.4,India,1970-01-01,True,71500.0
1,1,66.0,55000-66000,3.5,New York,1970-01-01,True,60500.0
2,2,39.0,77000-89000,0.0,New York,1969-12-31,False,83000.0
3,3,64.0,44000-99000,4.4,India,1970-01-01,False,71500.0
4,4,25.0,44000-99000,6.4,Australia,1970-01-01,False,71500.0
5,5,44.0,77000-89000,1.4,India,1970-01-01,True,83000.0
6,6,21.0,44000-99000,0.0,New York,1969-12-31,False,71500.0
7,7,44.0,44000-99000,0.0,Australia,1969-12-31,False,71500.0
8,8,35.0,44000-99000,5.4,New York,1969-12-31,False,71500.0
9,9,22.0,44000-99000,7.7,India,1969-12-31,True,71500.0
10,10,55.0,10000-49000,5.4,India,1970-01-01,True,29500.0
11,11,44.0,10000-49000,6.7,India,1970-01-01,False,29500.0
12,12,39.0,44000-99000,0.0,India,1970-01-01,False,71500.0
13,13,25.0,44000-99000,0.0,Australia,1970-01-01,True,71500.0
14,14,66.0,44000-99000,4.0,Australia,1970-01-01,True,71500.0
15,15,44.0,88000-101000,3.0,Australia,1970-01-01,False,94500.0
16,16,19.0,19000-40000,4.5,India,1970-01-01,False,29500.0
17,17,39.0,44000-99000,5.3,New York,1970-01-01,True,71500.0
18,18,35.0,44000-99000,6.7,New York,1970-01-01,True,71500.0
19,19,32.0,44000-99000,3.3,New York,1970-01-01,True,71500.0
20,20,39.0,44000-99000,5.7,New York,1970-01-01,True,71500.0
21,21,35.0,44000-99000,5.0,New York,1970-01-01,False,71500.0
22,22,19.0,55000-66000,7.8,New York,1970-01-01,True,60500.0
23,23,39.0,44000-99000,2.4,New York,1970-01-01,True,71500.0
24,24,13.0,44000-99000,0.0,New York,1970-01-01,False,71500.0
25,25,55.0,44000-99000,0.0,Australia,1970-01-01,True,71500.0
26,26,39.0,55000-66000,0.0,India,1970-01-01,True,60500.0
27,27,52.0,44000-99000,5.4,India,1970-01-01,False,71500.0
28,28,39.0,39000-88000,3.4,Australia,1970-01-01,False,63500.0

In [724]:
data['Normalized_Rating'] = (data['Rating'] - data['Rating'].min()) / (data['Rating'].max() - data['Rating'].min())

print(data[['Rating', 'Normalized_Rating']])

    Rating  Normalized_Rating
0      5.4           0.692308
1      3.5           0.448718
2      0.0           0.000000
3      4.4           0.564103
4      6.4           0.820513
5      1.4           0.179487
6      0.0           0.000000
7      0.0           0.000000
8      5.4           0.692308
9      7.7           0.987179
10     5.4           0.692308
11     6.7           0.858974
12     0.0           0.000000
13     0.0           0.000000
14     4.0           0.512821
15     3.0           0.384615
16     4.5           0.576923
17     5.3           0.679487
18     6.7           0.858974
19     3.3           0.423077
20     5.7           0.730769
21     5.0           0.641026
22     7.8           1.000000
23     2.4           0.307692
24     0.0           0.000000
25     0.0           0.000000
26     0.0           0.000000
27     5.4           0.692308
28     3.4           0.435897

In [725]:
data['Adjusted_Rating'] = (data['Rating'] - data['Rating'].min()) / (data['Rating'].max() - data['Rating'].min()) * 9 + 1

print(data[['Rating', 'Adjusted_Rating']])

    Rating  Adjusted_Rating
0      5.4         7.230769
1      3.5         5.038462
2      0.0         1.000000
3      4.4         6.076923
4      6.4         8.384615
5      1.4         2.615385
6      0.0         1.000000
7      0.0         1.000000
8      5.4         7.230769
9      7.7         9.884615
10     5.4         7.230769
11     6.7         8.730769
12     0.0         1.000000
13     0.0         1.000000
14     4.0         5.615385
15     3.0         4.461538
16     4.5         6.192308
17     5.3         7.115385
18     6.7         8.730769
19     3.3         4.807692
20     5.7         7.576923
21     5.0         6.769231
22     7.8        10.000000
23     2.4         3.769231
24     0.0         1.000000
25     0.0         1.000000
26     0.0         1.000000
27     5.4         7.230769
28     3.4         4.923077

In [726]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_Avg,Normalized_Rating,Adjusted_Rating
0,0,44.0,44000-99000,5.4,India,1970-01-01,True,71500.0,0.692308,7.230769
1,1,66.0,55000-66000,3.5,New York,1970-01-01,True,60500.0,0.448718,5.038462
2,2,39.0,77000-89000,0.0,New York,1969-12-31,False,83000.0,0.000000,1.000000
3,3,64.0,44000-99000,4.4,India,1970-01-01,False,71500.0,0.564103,6.076923
4,4,25.0,44000-99000,6.4,Australia,1970-01-01,False,71500.0,0.820513,8.384615
5,5,44.0,77000-89000,1.4,India,1970-01-01,True,83000.0,0.179487,2.615385
6,6,21.0,44000-99000,0.0,New York,1969-12-31,False,71500.0,0.000000,1.000000
7,7,44.0,44000-99000,0.0,Australia,1969-12-31,False,71500.0,0.000000,1.000000
8,8,35.0,44000-99000,5.4,New York,1969-12-31,False,71500.0,0.692308,7.230769
9,9,22.0,44000-99000,7.7,India,1969-12-31,True,71500.0,0.987179,9.884615
10,10,55.0,10000-49000,5.4,India,1970-01-01,True,29500.0,0.692308,7.230769
11,11,44.0,10000-49000,6.7,India,1970-01-01,False,29500.0,0.858974,8.730769
12,12,39.0,44000-99000,0.0,India,1970-01-01,False,71500.0,0.000000,1.000000
13,13,25.0,44000-99000,0.0,Australia,1970-01-01,True,71500.0,0.000000,1.000000
14,14,66.0,44000-99000,4.0,Australia,1970-01-01,True,71500.0,0.512821,5.615385
15,15,44.0,88000-101000,3.0,Australia,1970-01-01,False,94500.0,0.384615,4.461538
16,16,19.0,19000-40000,4.5,India,1970-01-01,False,29500.0,0.576923,6.192308
17,17,39.0,44000-99000,5.3,New York,1970-01-01,True,71500.0,0.679487,7.115385
18,18,35.0,44000-99000,6.7,New York,1970-01-01,True,71500.0,0.858974,8.730769
19,19,32.0,44000-99000,3.3,New York,1970-01-01,True,71500.0,0.423077,4.807692
20,20,39.0,44000-99000,5.7,New York,1970-01-01,True,71500.0,0.730769,7.576923
21,21,35.0,44000-99000,5.0,New York,1970-01-01,False,71500.0,0.641026,6.769231
22,22,19.0,55000-66000,7.8,New York,1970-01-01,True,60500.0,1.000000,10.000000
23,23,39.0,44000-99000,2.4,New York,1970-01-01,True,71500.0,0.307692,3.769231
24,24,13.0,44000-99000,0.0,New York,1970-01-01,False,71500.0,0.000000,1.000000
25,25,55.0,44000-99000,0.0,Australia,1970-01-01,True,71500.0,0.000000,1.000000
26,26,39.0,55000-66000,0.0,India,1970-01-01,True,60500.0,0.000000,1.000000
27,27,52.0,44000-99000,5.4,India,1970-01-01,False,71500.0,0.692308,7.230769
28,28,39.0,39000-88000,3.4,Australia,1970-01-01,False,63500.0,0.435897,4.923077